---
import { GLOBAL } from "../../lib/variables";
---

<div class="flex flex-col items-center sm:flex-row gap-8">
  <img
    src={GLOBAL.profileImage}
    alt={GLOBAL.username}
    class="rounded-full w-40 h-40 object-cover flex-shrink-0 mb-4 z-0 sepia-[0.4] animate-fadeIn"
  />
  <div>
    <h1
      class="text-3xl sm:text-4xl font-display font-semibold opsz text-center sm:text-left typewriter-name"
    >
      {GLOBAL.username}
    </h1>
    <h2
      class="text-center text-xl sm:text-2xl font-mono font-medium sm:text-left typewriter-description"
    >
      <p set:html={GLOBAL.shortDescription}/>
    </h2>
  </div>
</div>

<style>
  .typewriter-name {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: typing 1s steps(20, end) forwards,
               blinkCursor 750ms step-end 1;
  }

  .typewriter-description {
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    border-right: 2px solid transparent;
    animation: typing 1.5s steps(40, end) forwards,
               blinkCursor 750ms step-end 4;
    animation-delay: 1s;
  }

  @keyframes typing {
    0% { width: 0; opacity: 1; }
    100% { width: 100%; opacity: 1; }
  }

  @keyframes blinkCursor {
    from, to { border-color: transparent }
    50% { border-color: currentColor; }
  }

  .animate-fadeIn {
    animation: fadeIn 800ms ease forwards;
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 800ms ease forwards;
    animation-delay: 2.5s;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
</style>
